<?xml version="1.0" encoding="UTF-8"?> 
<Configuration> 
  <Appenders> 
    <File name="GameOfLifeLogger" fileName="GameOfLifeLogger.log" append="false"> 
      <PatternLayout pattern="%d %t %-5p %c{2} - %m%n"/> 
    </File> 
    <Console name="STDOUT" target="SYSTEM_OUT"> 
      <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/> 
    </Console> 
  </Appenders> 
    <loggers>     
    <root level="debug">
      <appender-ref ref="STDOUT" level="info"/>
      <appender-ref ref="GameOfLifeLogger" level="warn"/>
    </root>    
  </loggers>
</Configuration>